.aboutContainer {
  padding: 6rem 2rem 4rem;
  background: linear-gradient(to right, #1e1e1e, #111);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContent {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.aboutText {
  flex: 1;
  min-width: 260px;
}

.aboutText h2 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
  color: yellow;
}

.aboutText p {
  font-size: 1.05rem;
  line-height: 1.6;
}

.aboutImage {
  flex: 1;
  min-width: 200px;
  display: flex;
  justify-content: center;
}

.aboutImage img {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  transition: transform 0.3s;
}

.aboutImage img:hover {
  transform: scale(1.03);
}

/* Tablet */
@media (max-width: 900px) {
  .aboutContainer {
    padding: 4rem 1rem 2rem;
  }
  .aboutText h2 {
    font-size: 1.7rem;
  }
  .aboutImage img {
    max-width: 250px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .aboutContainer {
    padding: 2.5rem 1rem 1.5rem 1rem;
  }
  .aboutContent {
    flex-direction: column;
    text-align: justify;
    gap: 1.2rem;
  }
  h2 {
    text-align: center;
  }
  .aboutText h2 {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }
  .aboutText p {
    font-size: 0.95rem;
  }
  .aboutImage img {
    max-width: 150px;
    border-radius: 10px;
  }
}
